* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.logo {

}

aside {
    background-color: lightgray;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: purple;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

header {
    background-color: beige;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.head-main {
    width: 100%;
}

.main {
    display: flex;
    padding: 100px;
    justify-content: center;
}

main {
    background-color: lightcoral;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

input {
    width: 200px;
}

button {
    width: 200px;

}